<strong>Reset Password</strong>

<p>
  Request of reset password was made by {{ email }}.
  If wasn't you that requested it Rent.io suggests
  to change your password.
</p>

<p>Click on link below to reset your password:</p>

<a href="{{ link }}"> Create new password </a>
